<!DOCTYPE html>
<html>
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <title>Movie Manager</title>
    
    <link rel="icon" type="image/x-icon" href="/static/images/favicon/favicon.ico">
    
    <!-- Main Page Style -->
    <link id="main-page-style" rel="stylesheet" href="/static/pages/Main/Main.css">
    
    <!-- JS Modules -->
    <script type="importmap">{"imports": {
        "html-includes": "/static/libraries/HTMLIncludes/HTMLIncludes.js",
        "js-templates":  "/static/libraries/JSTemplates/JSTemplates.js"
    }}</script>
    <script type="module">import HTMLIncludes from 'html-includes';</script>
    <script type="module">import JSTemplates  from 'js-templates'; </script>
    
    <!-- Load client-side external/embedded components -->
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
            HTMLIncludes.fetch();
            JSTemplates.render();
        });
    </script>
    
    <!-- Hide the page if JavaScript isn't enabled -->
    <noscript>
        <style type="text/css">.page { display: none; }</style>
        <div id="noscript-message"><p>This site requires JavaScript</p></div>
    </noscript>
</head>
<body>
    <div id="main-page" class="page">
        
        <p>Hello World!</p>
        
        <div id="test-include">
            <include src="/static/import-test.html"><p>Loading...</p></include>
        </div>
        
        <script type="text/javascript-template">
            <% let words = ['this', 'is', 'a', 'test']; %>
            <div id="words-list">
                <% if(words.length) { %>
                    <ul>
                        <% words.forEach(function(word) { %>
                            <li><%= word %></li>
                        <% }); %>
                    </ul>
                <% } %>
            </div>
        </script>
        
    </div>
</body>
</html>
