################
# Export Alias #
################
# 
# See: https://github.com/direnv/direnv/issues/73#issuecomment-2252437293 #
###########################################################################
    
    # Clear existing aliases when entering a directory
    rm -rf "$PWD/.envrc-aliases"
    
    export_alias() {
        # Create a new alias
        local alias_name="$1"
        shift
        
        local alias_dir="$PWD/.envrc-aliases"
        local alias_file="$alias_dir/$alias_name"
        local oldpath="$PATH"
        
        # If this is the first time we're calling export_alias, add to PATH once
        # and create the .gitignore file for the $alias_dir
        if ! [[ ":$PATH:" == *":$alias_dir:"* ]]; then
            mkdir -p "$alias_dir"
            
            PATH_add "$alias_dir"
            
            echo '*' > "$alias_dir/.gitignore"
        fi
        
        # Write the alias file
        cat <<EOT >"$alias_file"
#!/usr/bin/env bash
set -e
PATH="$oldpath"
exec $@ \$@
EOT
        
        # Make the alias file executable
        chmod +x "$alias_file"
    }

############
# Taskfile #
############
    
    export_alias taskfile  './Taskfile'
    
    export_alias task      'taskfile'
    export_alias run       'taskfile'
    export_alias taskrun   'taskfile'
    export_alias runtask   'taskfile'
    
    export_alias task-file 'taskfile'
    export_alias task-run  'taskfile'
    export_alias run-task  'taskfile'
    
    # This project likely won't be making use of Makefiles
    export_alias make      'taskfile'

##########
# Podman #
##########
    
    # Docker isn't supported, and likely will not work out of the box.
    # You can comment-out this functionality if you intend on using it anyways
    export_alias docker 'podman'
